<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807187902976-qqgs8mh577c9jrbuais3bb1uu03qpsni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807187902976-qqgs8mh577c9jrbuais3bb1uu03qpsni</string>
	<key>API_KEY</key>
	<string>AIzaSyAKqHH4qXvZClRTZOm9EvteKNabJz7QY1o</string>
	<key>GCM_SENDER_ID</key>
	<string>807187902976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hci.bolt</string>
	<key>PROJECT_ID</key>
	<string>bolt12345</string>
	<key>STORAGE_BUCKET</key>
	<string>bolt12345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807187902976:ios:48d7548a5d49f397</string>
	<key>DATABASE_URL</key>
	<string>https://bolt12345.firebaseio.com</string>
</dict>
</plist>
